In [32]:
import pandas as pd
df = pd.read_csv("Advertising.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [33]:
df.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [34]:
df.info

<bound method DataFrame.info of         TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]>

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
regressor=LinearRegression()

In [37]:
x=df.iloc[:,:-1]
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [38]:
y=df.iloc[:,-1]
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [39]:
x.shape

(200, 3)

In [40]:
y.shape

(200,)

In [41]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=1)
xtrain,xtest,ytrain,ytest

(        TV  Radio  Newspaper
 98   289.7   42.3       51.2
 123  123.1   34.6       12.4
 119   19.4   16.0       22.3
 53   182.6   46.2       58.7
 33   265.6   20.0        0.3
 ..     ...    ...        ...
 133  219.8   33.5       45.1
 137  273.7   28.9       59.7
 72    26.8   33.0       19.3
 140   73.4   17.0       12.9
 37    74.7   49.4       45.7

 [150 rows x 3 columns],
         TV  Radio  Newspaper
 58   210.8   49.6       37.7
 40   202.5   22.3       31.6
 34    95.7    1.4        7.4
 102  280.2   10.1       21.4
 184  253.8   21.3       30.0
 198  283.6   42.0       66.2
 95   163.3   31.6       52.9
 4    180.8   10.8       58.4
 29    70.6   16.0       40.8
 168  215.4   23.6       57.6
 171  164.5   20.9       47.4
 18    69.2   20.5       18.3
 11   214.7   24.0        4.0
 89   109.8   47.8       51.4
 110  225.8    8.2       56.5
 118  125.7   36.9       79.2
 159  131.7   18.4       34.6
 35   290.7    4.1        8.5
 136   25.6   39.0        9.3
 59   210.7   29.5        9.3
 51   100.4    9.6        3.6
 16    67.8   36.6      114.0
 44    25.1   25.7       43.3
 94   107.4   14.0       10.9
 31   112.9   17.4       38.6
 162  188.4   18.1       25.6
 38    43.1   26.7       35.1
 28   248.8   27.1       22.9
 193  166.8   42.0        3.6
 27   240.1   16.7       22.9
 47   239.9   41.5       18.5
 165  234.5    3.4       84.8
 194  149.7   35.6        6.0
 177  170.2    7.8       35.2
 176  248.4   30.2       20.3
 97   184.9   21.0       22.0
 174  222.4    3.4       13.1
 73   129.4    5.7       31.3
 69   216.8   43.9       27.2
 172   19.6   20.1       17.0
 108   13.1    0.4       25.6
 107   90.4    0.3       23.2
 189   18.7   12.1       23.4
 14   204.1   32.9       46.0
 56     7.3   28.1       41.4
 19   147.3   23.9       19.1
 114   78.2   46.8       34.5
 39   228.0   37.7       32.0
 185  205.0   45.1       19.6
 124  229.5   32.3       74.2,
 98     25.4
 123    15.2
 119     6.6
 53     21.2
 33     17.4
        ...
 133    19.6
 137    20.8
 72      8.8
 140    10.9
 37     14.7
 Name: Sales, Length: 150, dtype: float64,
 58     23.8
 40     16.6
 34     11.9
 102    19.8
 184    17.6
 198    25.5
 95     16.9
 4      17.9
 29     10.5
 168    17.1
 171    17.5
 18     11.3
 11     17.4
 89     16.7
 110    18.4
 118    15.9
 159    12.9
 35     17.8
 136     9.5
 59     18.4
 51     10.7
 16     12.5
 44      8.5
 94     11.5
 31     11.9
 162    19.9
 38     10.1
 28     18.9
 193    19.6
 27     20.9
 47     23.2
 165    16.9
 194    17.3
 177    16.7
 176    20.2
 97     20.5
 174    16.5
 73     11.0
 69     22.3
 172     7.6
 108     5.3
 107    12.0
 189     6.7
 14     19.0
 56      5.5
 19     14.6
 114    14.6
 39     21.5
 185    22.6
 124    19.7
 Name: Sales, dtype: float64)

In [42]:
xtest.shape

(50, 3)

In [43]:
xtrain.shape

(150, 3)

In [44]:
ytest.shape

(50,)

In [45]:
ytrain.shape

(150,)

In [48]:
regressor.fit(xtrain,ytrain)

LinearRegression()

In [52]:
prediction=regressor.predict(xtest)
results=pd.DataFrame({'Actual':ytest,'Prediction':prediction})
results

     Actual  Prediction
58     23.8   21.291421
40     16.6   18.041942
34     11.9   10.030651
102    19.8   21.048190
184    17.6   20.751671
198    25.5   24.529483
95     16.9   16.859365
4      17.9   15.698007
29     10.5   10.172372
168    17.1   18.902665
171    17.5   15.827508
18     11.3   10.537685
11     17.4   18.862923
89     16.7   15.579691
110    18.4   17.898534
118    15.9   15.359746
159    12.9   13.763299
35     17.8   21.000740
136     9.5   10.030009
59     18.4   19.209740
51     10.7   11.123272
16     12.5   12.181410
44      8.5    8.670379
94     11.5   11.962480
31     11.9   12.633323
162    19.9   16.834847
38     10.1    9.753176
28     18.9   21.064535
193    19.6   18.075131
27     20.9   19.524773
47     23.2   22.044410
165    16.9   17.907452
194    17.3   16.485345
177    16.7   14.791909
176    20.2   21.357310
97     20.5   16.936402
174    16.5   17.187429
73     11.0   12.336883
69     22.3   21.029747
172     7.6    7.775842
108     5.3    5.413222
107    12.0    9.640061
189     6.7    6.914089
14     19.0   19.224138
56      5.5    7.938005
19     14.6   15.168546
114    14.6   13.731327
39     21.5   21.014193
185    22.6   20.499292
124    19.7   20.577922

In [54]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [55]:
mean_absolute_error(ytest,prediction)

1.2187904107011895

In [56]:
mean_squared_error(ytest,prediction)

2.278925158685002

In [57]:
r2_score(mean_absolute_error,mean_squared_error)

TypeError: Expected sequence or array-like, got <class 'function'>